.a-menu-item {
    a {
        padding: 0 25px;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }

    a:focus,
    a:hover {
        color: #fdd430;
    }

    a.is-active {
        color: #fdd430 !important;
    }
}