.small-label {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #f38b74;
    margin: 4px 10px;
  }
}
