@import '../node_modules/susy/sass/susy';
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

/**
  Normal reset
*/
@import "reset";

// Base
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base

// Form
//
// These are the default form styles applied to HTML elements.
//
// Style guide: form
@import "base/**/*";

// Atom
//
// These are the atom styles applied to HTML elements like image, input, buttons etc.
@import "atom/**/*";


// Molecule
//
// These are the molecule styles applied to HTML like logo, menu, search etc.
@import "molecule/**/*";

// Organism
//
// These are the organism styles applied to HTML like header of page having logo, menus.
@import "organism/**/*";

