
.m-aboutus-count-box {
        box-shadow: -10px -5px 40px 0;
        padding: 30px;
        width: 100%;
        margin: 10px 10px 20px 0px;


    span {
        font-size: 42px;
        line-height: 24px;
        display: block;
        font-weight: 700;
        color: #0b2341;
        margin-bottom: 40px;
    }
    .field--type-image img {
        width: 40px;
    }
    figure {
        margin: 0px;
    }
    .field--type-link {
        margin-top: 30px;
        a {
            font-weight: 600;
            display: block;
            margin-top: 20px;
            color: #164682;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            transition: ease-in-out 0.3s;
        }
    }
    p {
        height: 60px;
    }


}
