.m-text-cta {
    padding: 80px 0;
    background: #8308eb;
  .web_hosting{
    text-align: center;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  p {
    color: #fff;
  }
  .titlepage {
    text-align: center;
    padding-bottom: 0px;
  }
}
