#block-views-block-why-should-you-choose-block {
  margin-top: 90px;
  background: #ffff;
  text-align: center;


  .why-listing {
    .view-header {
      font-size: 15px;
      padding-bottom: 60px;
    }

    .view-content {
      .grid {
        padding: 0.8em;
      }

      .read-more {
        background-color: #090808;
        color: #fff;

        &:hover {
          background: #8308eb;
          color: #fff;
        }
      }
    }
  }

}
